version : '3.8'

services:
  loginpage:
    image: this23/quizapp:back-v11
    container_name: loginpage-container
    ports:
      - "5173:5173"
    depends_on:
      - backend
   

  
  backend:
    image:  this23/quizapp:${TAG2}
    container_name: backend-container
    ports:
      - "3000:3000"
    depends_on:
      - mongodb
    environment:
          - DBLOGIN = mongodb+srv://dharanidharank19ece:ZdIYvzpTVfVWiadt@cluster1.xqwaydo.mongodb.net/TEST?retryWrites=true=value

    entrypoint: ["./build.sh"]

  mongodb:
    image: mongo:latest
    container_name: mongodb-container
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db     
  

volumes:
  mongo-data:


