version : '3.8'

services:
  loginpage:
    image: this23/quizapp:v22
    container_name: loginpage-container
    ports:
      - "5173:5173"
    depends_on:
      - backend
   

  
  backend:
    image: this23/quizapp:back-v22
    container_name: backend-container
    ports:
      - "3005:3000"
    depends_on:
      - mongodb
    env_file:
      - ./backend/.env
    environment:
          - DB_URI=mongodb+srv://${DB_USER}:${DB_PASS}@${DB_HOST}/${DB_NAME}?retryWrites=true

  mongodb:
    image: mongo:latest
    container_name: mongodb-container
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db     
    environment: 
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=rootuser

volumes:
  mongo-data:


